---
const items = [
	{ href: '/', label: 'Home' },
	{ href: '/about', label: 'About' },
	{ href: '/services', label: 'Services' },
	{ href: '/contact', label: 'Contact' },
];

function cls(href: string) {
	return href.trim('/') === Astro.url.pathname.trim('/') ? 'active' : '';
}
---
<div class="navbar md:px-8 shadow-xl">
  <!-- Logo -->
  <div class="flex-1">
    <img src="/images/luluhr.png" alt="Lulu HR" class="h-30 w-60" />
  </div>

  <div class="flex-none">

    <!-- PC Menu -->
    <ul class="menu menu-horizontal menu-compact md:menu-normal md:px-12 hidden md:flex">
    {items.map((item) => (
      <>
        <li><a href={item.href} class={cls(item.href)}>{item.label}</a></li>
      </>
    ))}
    </ul>

    <!-- Mobile Menu -->
    <div class="dropdown dropdown-bottom dropdown-end md:invisible">
      <label tabindex="0" class="btn btn-success btn-active m-1">
    	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    	  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    	</svg>
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    	{items.map((item) => (
          <>
            <li><a href={item.href} class={cls(item.href)}>{item.label}</a></li>
          </>
        ))}
      </ul>
    </div>
  </div>
</div>
